<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h3 class="alert alert-primary d-flex justify-content-center">A message from user!</h3>
        <p class="alert alert-primary"><strong>User phonenumber:</strong> {{ phoneNumber }}</p>
        <p class="alert alert-primary"><strong>User email:</strong> {{ email }}</p>
        <p class="alert alert-primary"><strong>User message:</strong> {{ message }}</p>
    </div>
</body>